@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,700,700i&display=swap');

body {
    background-color: white;
}

.reveal.section {
    background-color: white;
    color: #052569;
}

.reveal pre {
    background-color: gainsboro;
    width: 100%;
}

.reveal-full-page {
    background-color: white;

}
.reveal a{
    text-decoration: underline;

}
.reveal h1 {
    color: #052569;
}

.reveal h2 {
    color: #052569;
}

.reveal h3 {
    color: #052569;
}

.reveal h4 {
    color: #052569;
}
li:before {
    color: #f5821f;
}

:root {
    --r-heading-font: 'Red Hat Text', sans-serif;
    --r-main-font: 'Red Hat Display', sans-serif;
    --r-background-color: white;
    --r-main-color: #666666;
    --r-link-color: #666666;
    --r-link-color-hover: #f5821fc9;
}
